<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SoDemonApple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>98DD7A011CE1F268004CF71B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98DD7A1A1CE1F268004CF71B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98DD7A251CE1F268004CF71B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
